[Dd]ebug/
[Rr]elease/*
[Bb]in/
[Oo]bj/
[Ll]ogs/
Front/Site/Files
/Files
!Publish/Release/
packages/
StatisticsViewer/FrontLogs
Assemblies/Temp
rdtsc64_*.dll
rdtsc64_*.pdb
rdtsc32_*.dll
rdtsc32_*.pdb
*.suo
desktop.ini
.screenshots
.failedMessages
*.user
!*.user/
Assemblies/Chrome/debug.log
_ReSharper.*
.cake/*
!.cake/packages.config
Assemblies/Chrome/Dictionaries/*.bdic
EDI/API.FrontLogs/
.downloads
node_modules
dist
*-assets*.json
.coverage
.artifacts
*.sublime-project
*.sublime-workspace
!/Assemblies/Chrome/**/**
.vs/
.babel-cache
!webpack-dll-assets.json
!webpack-vendor-assets.json
.idea
UpgradeLog.htm
Mega.sln
Srs.Api.Build/
Front/Site/version.txt
Cms/Cms/version.txt
Api/Normativ.Api/Merge/CommonProxy
Api/Normativ.Api/Merge/Qa
Api/Normativ.Api/Merge/Users
Api/Normativ.Api/Merge/Search
Api/Normativ.Api/Merge/SearchBO
Api/Normativ.Api/Merge/BuhCalendar
Api/Normativ.Api/Merge/Srs
[Ss]ettings/site_url
Front/Logs
Rabbits/RabbitMQ
Front/Sandbox/logs
Rabbits/RabbitMQ
Front/cache
Front/Demons/BuhonlineArticlesPublisherDemon/logs
*.*.orig
logs/
logs/demons
logs/HttpServices
Front/Site/theme/js/scripts.min.js
Front/Cms/Files/
Front/Site/Files/
Front/cache
PublishProfiles
Front/Site/theme/js/tiny_mce/tiny_mce_*.gz
Front/Site/theme/js/templates.js
Front/Site/theme/less/.idea/encodings.xml
Front/Site/theme/less/.idea/workspace.xml
Front/Site/theme/less/.idea/scopes/scope_settings.xml
Front/Site/theme/less/.idea/*
Front/Site/theme/bundles/report.html
Front/Site.FTests/App.config
Rabbits/erl_crash.dump
TestDatabases/mdfs/*
/DocumentRange/PopularFragmentCalculatorDemon/Normativ1
Front/Site/ServiceCache/*.xml
Front/Site/ServiceCache/*.config
FormsClassification/GFVFormsBindingDemon/ServiceCache/*
/TestDatabases/mdfs/*
*.css.map
*.js.map
.vscode/
Front/Site/theme/app/.vscode/
Settings/service_settings.json
AssemblyTitle.cs
*.editorconfig
/ULearn/Генерация текстов/.idea/.idea.TextAnalysis/.idea/workspace.xml
/ULearn/Генерация текстов/.idea/.idea.TextAnalysis/.idea/workspace.xml
/ULearn/Генерация текстов/.idea/.idea.TextAnalysis/.idea/workspace.xml
/ULearn/Генерация текстов/obj/Debug/TextAnalysis.csprojAssemblyReference.cache
VacationTests/VacationTests/VacationTests.csproj
ULearn/UI autotests pro level
